<footer {{#ifCond showSubscriptionForm '===' false }} style="padding-top: 50px;" {{/ifCond}}>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-logo">
                        <a href="index.html">
                            <img src="/images/img/logo.png" alt="Logo">
                        </a>
                        <p>247LiveIT is a world-class digital marketing agency with top digital marketing experts using the latest tools to advance client success.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="footer-item">
                    <div class="footer-company">
                        <h3>Services</h3>
                        <ul>
                            <li>
                                <a href="ppc-advertising.html" target="">PPC Management</a>
                            </li>
                            <li>
                                <a href="national-seo.html" target="">SEO</a>
                            </li>
                            <li>
                                <a href="ppc-advertising.html" target="">Paid Social</a>
                            </li>
                            <li>
                                <a href="email-makteting.html" target="">Email Marketing</a>
                            </li>
                            <li>
                                <a href="amazon-advertising-management.html" target="">Amazon Ads</a>
                            </li>
                            <li>
                                <a href="web-devlopment.html" target="">Website Development</a>
                            </li>
                            <li>
                                <a href="creative-services.html" target="">Creative Services</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="footer-item">
                    <div class="footer-company">
                        <h3>Resources</h3>
                        <ul>
                            <li>
                                <a href="#">Resource Library</a>
                            </li>
                            <li>
                                <a href="#">Client Dashboard</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Case Studies</a>
                            </li>
                            <li>
                                <a href="#">Tracking Code Generator</a>
                            </li>
                            <li>
                                <a href="#">FAQs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="footer-item">
                    <div class="footer-company">
                        <h3>Company</h3>
                        <ul>
                            <li>
                                <a href="about.html">About</a>
                            </li>
                            <li>
                                <a href="#">Team</a>
                            </li>
                            <li>
                                <a href="#">Newsroom</a>
                            </li>
                            <li>
                                <a href="#">Careers</a>
                            </li>
                            <li>
                                <a href="#">Community</a>
                            </li>
                            <li>
                                <a href="#">Google Ads Partner</a>
                            </li>

                            <li>
                                <a href="#">Microsoft Advertising Partner</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-contact">
                        <h3>Contact Info</h3>
                        <ul>
                            <li>
                                <span>Location: 18319 Napa Street Northridge CA 91325</span>
                            </li>
                            <li>
                                <span>Email:</span>
                                <a href="#" target="_blank"><span class="">info@247liveit.com</span></a>
                            </li>
                            <li>
                                <span>Phone:</span>
                                <a href="tel:+877-382-0922" target="_blank">877-382-0922</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-social">
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <p>Copyright ©2021 : <a href="#" target="_blank"> 247LiveIt All Rights Reserved</a>
                | <a href="#" target="_blank">Term Of Services </a> | <a href="#" target="_blank">Privacy Policy </a> | <a href="#" target="_blank">Term Of Use</a> </p>
        </div>
    </div>
</footer>