<div class="navbar-area fixed-top">
    <div class="mobile-nav">
        <a href="home" class="logo">
            <img src="/images/img/logo.png" alt="Logo">
        </a>
    </div>
    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="/">
                    <img src="/images/img/logo.png" alt="Logo">
                </a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/" class="nav-link  active">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link dropdown-toggle">Services <i class='bx bx-chevron-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="/ppc-advertising" class="nav-link">PPC Advertising</a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link dropdown-toggle">Google Ads PPC Management <i
                                            class='bx bx-chevron-down'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="/ecommerce-ppc" class="nav-link">Ecommerce PPC</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/lead-ganeration" class="nav-link">Lead Generation</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link  dropdown-toggle">Search Engine Optimization <i
                                            class='bx bx-chevron-down'></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="/onsite-seo" class="nav-link">Onsite SEO</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/local-seo" class="nav-link">Local SEO</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/national-seo" class="nav-link">National SEO</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="/social-media-marketing" class="nav-link">Social Media Marketing</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/email-makteting" class="nav-link">Email Marketing</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/amazon-advertising-management" class="nav-link">Amazon Advertising</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/web-devlopment" class="nav-link">Website Development</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/creative-services" class="nav-link">Creative Services</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/about" class="nav-link dropdown-toggle">Result <i
                                    class='bx bx-chevron-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">Case Studies</a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">Reviews</a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">Awards</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="about" class="nav-link dropdown-toggle">Resources<i
                                    class='bx bx-chevron-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">Resources Library</a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">Track Code Generator</a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">Google Ads Premier Partner</a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">Microsoft Advertising Partner</a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">Faq's</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="about" class="nav-link dropdown-toggle">Company<i
                                    class='bx bx-chevron-down'></i></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="about" class="nav-link">About</a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">Team</a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">Newsroom</a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">Community</a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">Careers</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="contact" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a href="packages" class="nav-link">Packages</a>
                        </li>
                    </ul>
                    <div class="side-nav">
                        <a href="mailto:info@247liveit.com"><i class="bx bx-paper-plane"></i> info@247liveit.com</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>