<div class="subscribe-area">
    <div class="subscribe-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 ggff">
                    <div class="section-title">
                        <h2 style="color: #fff;">Let’s take your business to the next level</h2>
                        <p style="color: #fff;">Increase your marketing success with us</p>
                        <img src="/images/12.png">
                    </div>
                </div>
                <div class="col-lg-7 ffform">
                    <form id="js-contact-form" action="sendServiceEmail" method="POST">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" name="full_name" class="form-control" placeholder="Your Name" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="tel" name="mobile" class="form-control" placeholder="Phone No" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="nice-select" id="js-services" tabindex="0">
                                        <span class="current">Choose Your Service</span>
                                        <ul class="list">
                                            <li data-value="" class="js-nice-option option selected focus">Choose Your Service</li>
                                            <li data-value="PPC Advertising" class="js-nice-option option">PPC Advertising</li>
                                            <li data-value="Google Ads PPC Management" class="js-nice-option option">Google Ads PPC Management</li>
                                            <li data-value="Social Media Marketing" class="js-nice-option option">Social Media Marketing</li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="service">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea id="your-message" name="message" rows="6" class="form-control" placeholder="Your Message" required></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" class="btn cmn-btn">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
