


<div class="page-title-area">
   <div class="d-table">
      <div class="d-table-cell">
         <div class="container">
            <div class="title-item">
               <h2>About</h2>
               <ul>
                  <li>
                     <a href="index.html">Home</a>
                  </li>
                  <li>
                     <i class='bx bx-chevrons-right'></i>
                  </li>
                  <li>
                     <span>About</span>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="choose-area two pt-100 pb-70">
   <div class="choose-shape">
      <img src="/images/img/home-one/choose1.png" alt="Shape">
      <img src="/images/img/home-one/banner-shape3.png" alt="Shape">
   </div>
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-6">
            <div class="choose-content">
               <div class="">
                  <img src="/images/abt.gif" alt="Choose">
               </div>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="choose-contact two">
               <div class="section-title">
                  <h2>ABOUT 247LIVEIT</h2>
               </div>
               <p>247LiveIT is a world-class digital marketing agency with top digital marketing experts using the latest tools to advance client success. Services include website development, social media platform design and advertising, search engine optimization, Google Ads and pay-per-click campaigns.</p>
               <p>We study each client's overall business, markets and competition. We then build and implement tailor-made strategies to target client audiences and increase the client's presence online and in search engine rankings.</p>
               <p>Our talented team of programmers, digital marketers and graphic designers work together to ensure clients stay ahead of their competition when it comes to online marketing and customer outreach.</p>
               <p>It's our goal to turn your company vision into reality. After getting to know your business, we select the best options to attract and maintain loyal customers and increase sales.</p>
            </div>
         </div>
      </div>
   </div>
</div>
<section class="watch-area ptb-100">
   <div class="container">
      <div class="section-title">
         <h2>Watch The Full Video To Know More About Us</h2>
      </div>
      <div class="watch-item">
         <div class="d-table">
            <div class="d-table-cell">
               <div class="video-wrap">
                  <a href="https://www.youtube.com/watch?v=vy3pGO2b73s?t=4" class="popup-youtube">
                  <i class='bx bx-play'></i>
                  </a>
               </div>
               <div class="watch-content">
                  <h3>We Love The Work</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
