<div class="page-title-area">
   <div class="d-table">
      <div class="d-table-cell">
         <div class="container">
            <div class="title-item">
               <h2>Email Marketing</h2>
               <ul>
                  <li>
                     <a href="index.html">Home</a>
                  </li>
                  <li>
                     <i class='bx bx-chevrons-right'></i>
                  </li>
                  <li>
                     <span>Email Marketing</span>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="choose-area two pt-100 pb-70">
   <div class="choose-shape">
      <img src="/images/img/home-one/choose1.png" alt="Shape">
      <img src="/images/img/home-one/banner-shape3.png" alt="Shape">
   </div>
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-6">
            <div class="choose-content">
               <div class="">
                  <img src="/images/email.gif" alt="Choose">
               </div>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="choose-contact two">
               <div class="section-title">
                  <h2>Targeted Email Marketing Services</h2>
               </div>
               <p>If you are in a doubt whether to invest in email marketing campaign or not then you must understand the impact of email marketing. You would be surprised to know that, according to McKinsey, emails are 40 times more effective at obtaining new customers than Twitter or Facebook. This is because email marketing establishes a direct channel of communication to the prospective customer.</p>
               <p>Have you ever noticed, whenever there is an email from your favorite store or company you sub consciously or intentionally open that email? The reason behind is simple; you are highly interested in their products or services. </p>
               <p>So, if you think that email marketing looks spammy then you might lose the opportunity to generate greater ROI for your company, as email marketing is one of the best cost effective ways to promote businesses. </p>
               <p>Our company understands that people receive tons of emails per day and so our experts design emails in a manner that are simple, easy to ready and are not lofty or clumsy. Besides, eye catchy templates and concise contents are also usedto encourage customer’saction. Our main motto is to connect with customers easily and spontaneously.</p>
            </div>
         </div>
      </div>
   </div>
</div>
<section class="boxspc">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="hnav ">
               <a href="#overview">Overview</a>
               <a href="#feature">Features</a>
               <a href="#pricing">Pricing</a>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="pd100 pb-70" id="overview">
   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <img src="/images/lay.png" class="lun">
            <h2 class="lun">Beautiful Layouts</h2>
         </div>
         <div class="col-md-4">
            <img src="/images/lay1.png" class="lun">
            <h2 class="lun">Engaging Content</h2>
         </div>
         <div class="col-md-4">
            <img src="/images/lay2.png" class="lun">
            <h2 class="lun">Clear Calls-To-Action</h2>
         </div>
      </div>
   </div>
</section>
<div class="choose-area two pt-100 pb-70" id="feature">
   <div class="section-title" style="
      margin-top: 51px;
      ">
      <h2>Engage Your Customers</h2>
   </div>
   <div class="container">
      <p style="text-align: center;">Our emails are structured effectively which encourages client action. The emails are articulated in a simple manner using eye catchy template so that it can grab quick attention from the client. So, talk to our experts ASAP and know more about the deliverables and pricing information.</p>
   </div>
   <div class="choose-shape">
      <img src="/images/img/home-one/choose1.png" alt="Shape">
      <img src="/images/img/home-one/banner-shape3.png" alt="Shape">
   </div>
   <div class="container cntpd">
      <div class="row align-items-center">
         <div class="col-sm-6 col-lg-6 pdsec">
            <div class="service-item two">
               <img src="/images/fe1.png" alt="Service">
               <h3>High ROI</a>
               </h3>
               <p>Email marketing can yield a higher ROI compared to any other than marketing strategies. It can generate up to $ 38 or more for each $1 you spend on targeted email marketing strategies. </p>
            </div>
         </div>
         <div class="col-sm-6 col-lg-6 pdsec">
            <div class="service-item two">
               <img src="/images/fe2.png" alt="Service">
               <h3>
                  <a href="#">Track Statistics</a>
               </h3>
               <p>We track every data such as spam complaints, conversions and open rates to evaluate targeted email performance to ensure the results are as per the expectation. If it reflects a different picture, we immediately adjust our strategy to solve the problem.</p>
            </div>
         </div>
         <div class="col-sm-6 col-lg-6 pdsec">
            <div class="service-item two">
               <img src="/images/fe3.png" alt="Service">
               <h3>
                  <a href="#">Works on Multiple Devices</a>
               </h3>
               <p>Desktop websites appear differently on mobile phones. And, sometimes due to this gap businesses lose innumerable leads. So, our team not only focuses on desktop websites but also ensures that your website on mobile provides the same amount of experience to the user. Our graphic designer teams prudently structures templates keeping this major aspect in mind so that conversion rate does not get affected.</p>
            </div>
         </div>
         <div class="col-sm-6 col-lg-6 pdsec">
            <div class="service-item two">
               <img src="/images/fe4.png" alt="Service">
               <h3>It’s a Collaboration</a>
               </h3>
               <p>Our organization prioritizes transparency and so whatever marketing strategies we adopt or implement for your website, we ensure that you are in the loop so that you are informed and updated about every details of the ad campaign. Only after seeking your approval we proceed with the marketing strategies for your website.</p>
            </div>
         </div>
      </div>
   </div>
</div>
{{> packages }}