<div class="banner-area two">
    <video autoplay muted loop id="myVideo" style="width: 100%;">
        <source src="/images/pp2.mp4" type="video/mp4">
    </video>
</div>
<div class="choose-area two pt-100 pb-70">
    <div class="choose-shape">
        <img src="/images/home-one/choose1.png" alt="Shape">
        <img src="/images/home-one/banner-shape3.png" alt="Shape">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img src="/images/choose1.jpg" alt="Choose">
            </div>
            <div class="col-lg-6">
                <div class="choose-contact">
                    <div class="section-title">
                        <h2>About Us</h2>
                    </div>
                    <p>247LiveIT is a world-class digital marketing agency with top digital marketing experts using
                        the latest tools to advance client success. Services include website development, social
                        media platform design and advertising, search engine optimization, Google Ads and
                        pay-per-click campaigns.
                    </p>
                    <p>We study each client's overall business, markets and competition. We then build and implement
                        tailor-made strategies to target client audiences and increase the client's presence online
                        and in search engine rankings.
                    </p>
                    <a class="cmn-btn" href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="service-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Our Services</span>
            <h2>We Are Committed To Give Our Best Services</h2>
        </div>
        <div class="container">
            <div class="row">
                <ul class="nav nav-pills" id="nav">
                    <li class="col-lg-2 active">
                        <a href="#tab-1" data-toggle="tab" class=""><img
                                src="/images/home-one/service2.png"></a>
                        <p class=""><b>PPC Marketing</b></p>
                    </li>
                    <li class="col-lg-2">
                        <a href="#tab-2" data-toggle="tab"><img src="/images/home-one/service3.png"></a>
                        <p class=""><b>Web Development</b></p>
                    </li>
                    <li class="col-lg-2">
                        <a href="#tab-3" data-toggle="tab"><img src="/images/home-one/12.png"></a>
                        <p class=""><b>Social Media Advertising</b></p>
                    </li>
                    <li class="col-lg-2">
                        <a href="#tab-4" data-toggle="tab"><img src="/images/home-one/service7.png"></a>
                        <p><b>Search Engine Optimization</b></p>
                    </li>
                    <li class="col-lg-2">
                        <a href="#tab-5" data-toggle="tab"><img src="/images/home-one/ad.png"></a>
                        <p><b>Google Ad Strategies</b></p>
                    </li>
                    <li class="col-lg-2">
                        <a href="#tab-6" data-toggle="tab"><img src="/images/home-one/ct.png"></a>
                        <p><b>Content Writing</b></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content well">
            <div class="tab-pane active" id="tab-1">
                <div class="container conta">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="/images/ppc.png">
                        </div>
                        <div class="col-lg-8">
                            <h3>PPC Marketing</h3>
                            <p>People are now majorly inclined to online shopping when they want to purchase their
                                desired products or services. So, if you want to do smart business, then probably
                                one of the finest ways is to make a digital presence of your business. So, adopting
                                pay- per- click (PPC) advertising model to your business strategies would surely
                                spike your leads generating greater revenue.
                            </p>
                            <h3>What is PPC Advertising?</h3>
                            <p>It is an online advertising model where a business has to pay each time only when a
                                user clicks on its advertising. PPC ads are similar to organic ads where the word
                                “Ad” will be pinned next to the advertiser’s website. The only reason it is being
                                highly adopted by businesses is because it provides substantial exposure to their
                                websites. The placement of the ad depends on the bid amount. And so, it is highly
                                effective marketing tool, if you want quick exposure of your website. However,it is
                                not as simple as it sounds.PPC campaigns require logical and smart strategies to
                                meet realistic advertising goals. So, this online marketing model should be crafted
                                carefully otherwise it can be a real headache for you.
                            </p>
                            <h3>Why PPC Advertising?</h3>
                            <p>PPC is irrefutably the fastest cost effective online marketing strategy that provides
                                consistent returns. It is an advertising model where you just have to pay only when
                                someone clicks on your website.Through PPC you can advertise your products and
                                services easily without any hassles. If this advertising tool is implemented
                                strategically it can provide greater ROI within a very short span of time.
                            </p>
                            <button type="button" class="modalOpen side-n">
                                Get Your Free Consultation
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-2">
                <div class="container conta">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="/images/dv.jpg">
                        </div>
                        <div class="col-lg-8">
                            <h3>Website Development</h3>
                            <p>Is your business website falling short of making a mark in the digital space? Are you
                                constantly worried about the declining sales? Well, stacking up your website with
                                multiple products is not enough.
                            </p>
                            <p>Our marketing experts analyse your ecommerce goals along with your existing online
                                sales efforts. Right from highlighting your product features, to managing online
                                sales with effective product descriptions, distinctive product pictures, efficient
                                shipping and safe payment modes, our customer service is here to uplift your online
                                sales. We offer Live Chat assistance too. Talk to us today.
                            </p>
                            <h3>Website Marketing</h3>
                            <p>Traditional brick and motor shops are gradually becoming a thing of the past. Today's
                                customers want more in less time, which is why online shopping is now a huge
                                preference. Online shopping websites are expected to provide an out and out hassle
                                free customer experience. This includes quick response to customer queries; provide
                                apt product or service information, offer online sales / communication capabilities
                                and much more, while ensuring shift site navigation.
                            </p>
                            <p>It is now a known fact that having an ineffective business site would only pave the
                                way to lose potential customers and fall out of the cut throat competition. We are
                                living in the smart era and businesses sites need to be aligned with latest
                                technology to meet the evolving tastes of the customers.
                            </p>
                            <button type="button" class="modalOpen side-n">
                                Get Your Free Consultation
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-3">
                <div class="container conta">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="/images/so.png">
                        </div>
                        <div class="col-lg-8">
                            <h3>Social Media Marketing</h3>
                            <p>Want more exposure of your company? Get your hands on the right blend of social media
                                strategies.
                            </p>
                            <p>In today’s epoch, social media marketing in one of the most effective tools that can
                                reach out to your prospective customer in the shortest span of time. If applied
                                correctly, then it can generate massive revenue for your business by boosting the
                                traffic to your website.
                            </p>
                            <h3>How Our Social Media Marketing Helps Businesses</h3>
                            <p>Our social media marketing team mainly focuses to build brand awareness by engaging
                                potential customer through positive visitor interaction and strong advertising
                                campaigns. To increase the conversion rate, our experts target customers based on
                                demographic such as age, gender, race, ethnicity and income. Honestly, we don’t make
                                assumptions but gather appropriate data to hit the right audience. Our strategies
                                are 100% potent in generating authentic lead thereby increasing sales revenue.
                            </p>
                            <h3>Social Media Management Steps</h3>
                            <p><b>Discovery –</b> We first understand your business thoroughly and its marketing
                                goals, industry and most importantly competitors.
                            </p>
                            <p><b>Strategy- </b>After a competitive analysis, we choose the most effective social
                                media platform to fulfill your marketing goals. Our experts identifies which social
                                network does your target audience mostly use.
                            </p>
                            <p><b>Implementation - </b> Your social media sites and initial contents are developed
                                aligning all the necessary information and your preferences. Once approved, robust
                                advertising campaigns are executed to upheave the website traffic.
                            </p>
                            <p><b>Evaluation –</b> On a continuous basis, our experts evaluate the performance of
                                the social media accounts to track the progress and incorporate changes if and when
                                needed.
                            </p>
                            <button type="button" class="modalOpen side-n">
                                Get Your Free Consultation
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-4">
                <div class="container conta">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="/images/ppc.png">
                        </div>
                        <div class="col-lg-8">
                            <h3>Onsite SEO</h3>
                            <p>Want your website to rank higher on Google or Bing? Then try Search engine
                                optimization (SEO) strategy. But at the same time, you must understand that if this
                                inbound marketing strategy is not properly implemented then it can be hard to hit
                                the right audience.
                            </p>
                            <h3>Local SEO</h3>
                            <p>If you are starting a new company, one of the initial steps to swiftly grow your
                                business is to seize local customers. And to proceed with this, implementation of
                                local SEO strategy in the business model is crucial. With appropriate usage of Local
                                SEO, you can generate genuine leads by increasing the visibility of your website to
                                the local search queries.
                            </p>
                            <h3>National SEO</h3>
                            <p>In today’s competitive world, if you want your business to stay ahead than your
                                competitors then you must follow some advanced and smart strategies. It is an
                                undeniable fact that, every business owner dreams of having strong digital presence
                                globally. And if you are one of them, then get in touch with us to make your dream
                                come true!
                            </p>
                            <button type="button" class="modalOpen side-n">
                                Get Your Free Consultation
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-5">
                <div class="container conta">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="/images/ad.jpg">
                        </div>
                        <div class="col-lg-8">
                            <h3>Google Ad Strategies
                            </h3>
                            <p>247LiveIT helps businesses grow using cost-effective online marketing. Our strategies
                                encompass Google Ads and other online ad placements—all created specifically for
                                each client.
                            </p>
                            <p>Companies new to online marketing are often confused by online ad campaigns and can
                                waste resources and money on ineffective Google Ads or pay-per-click campaigns. Even
                                those companies with an established online presence can be frustrated by lackluster
                                results. Our digital marketing specialists will analyze your current Google Ads and
                                provide suggestions.
                            </p>
                            <p>Sometimes, it's necessary to start fresh. We build successful, budget-friendly,
                                multi-platform online campaigns. To measure conversion rates and other metrics, we
                                monitor Google Analytics data and tweak ad campaigns to receive maximum results.
                            </p>
                            <button type="button" class="modalOpen side-n">
                                Get Your Free Consultation
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-6">
                <div class="container conta">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="/images/ppc.png">
                        </div>
                        <div class="col-lg-8">
                            <h3>Exclusive Content
                            </h3>
                            <p>What makes and breaks a brand? The answer is, great content can do wonders while the
                                opposite can easily break the brand image.
                            </p>
                            <p>Our content team develops unique and highly engaging content highlighting key
                                features of your products and services. Thereby, turning leads to customer.
                            </p>
                            <h3>Professional E-commerce Writers</h3>
                            <p>We have a team of expert e-commerce writers who are substantially skilled to create
                                positive impact on the readers about your products and services. On an average,
                                thousands of content are developed by our team in a month. So we are an expert to
                                deliver the best on your plate.
                            </p>
                            <h3>Higher Conversion Rate</h3>
                            <p>The main motto of any business is to generate higher ROI and so our team works
                                meticulously to influence customer decisions. We keep your business ball rolling.
                            </p>
                            <h3>Advanced SEO</h3>
                            <p>Create strong digital presence of your business by Advanced SEO strategy. Our team
                                uses popular terms and long tail keywords in the content resulting in higher ranks
                                for business sites on search engines like Google and Bing
                            </p>
                            <button type="button" class="modalOpen side-n">
                                Get Your Free Consultation
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="about-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title">
                        <h2>Why Choose us</h2>
                    </div>
                    <p>247LiveIT is a world-class digital marketing agency with top digital marketing experts using
                        the latest tools to advance client success.
                    </p>
                    <p>Services include website development, social media platform design and advertising, search
                        engine optimization, Google Ads and pay-per-click campaigns.
                    </p>
                    <p>Our team of programmers, digital marketers and graphic designers work together to ensure
                        clients stay ahead of their competition when it comes to online marketing and customer
                        outreach.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="/images/home-one/about-bg.jpg" alt="About">
                    <div class="video-wrap">
                        <a href="https://www.youtube.com/watch?v=vy3pGO2b73s" class="popup-youtube">
                            <i class='bx bx-play'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="project-area pt-100 pb-70" style="background-color: #f9f9f9;">
    <div class="container">
        <div class="section-title">
            <h2>Industry Expertise</h2>
        </div>
        <div class="row">
            <div class="col-sm-3 col-lg-3">
                <div class="project-item">
                    <div class="project-top">
                        <a href="#">
                            <img src="/images/gp1.jpg" class="imhk" alt="Project">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="project-item">
                    <div class="project-top two">
                        <a href="#">
                            <img src="/images/gp2.jpg" class="imhk" alt="Project">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="project-item">
                    <div class="project-top two">
                        <a href="#">
                            <img src="/images/gp3.jpg" class="imhk" alt="Project">
                        </a>
                    </div>
                </div>
            </div>
            <div class=" col-sm-3 col-lg-3">
                <div class="project-item">
                    <div class="project-top">
                        <a href="#">
                            <img src="/images/gp4.jpg" class="imhk" alt="Project">
                        </a>
                    </div>
                    <h3>
                </div>
            </div>
        </div>
</section>
<section class="review-area ptb-100">
    <div class="review-shape">
        <img src="/images/img/home-one/banner-shape6.png" alt="Shape">
    </div>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Clients Review</span>
            <h2>What clients Say About Us</h2>
        </div>
        <div class="review-slider owl-theme owl-carousel">
            <div class="review-item">
                <h3>Jhon</h3>
                <ul>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                </ul>
                <p>We as an organization believe in resolving our customer's problems with quality solutions. Our
                    partnership with 247liveIT has enabled us to reach the pinnacle of success in just no time. I
                    recommend 247liveIT for all industry leaders in the digital business for best IT solutions.
                </p>
            </div>
            <div class="review-item">
                <h3>Nick</h3>
                <ul>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                </ul>
                <p>With 247liveIT, I've got fantastic results on my ROI. They have a smart team who hold a good
                    knowledge on digital strategies and always ensure to attend us anytime. I wish them good luck!
                </p>
            </div>
            <div class="review-item">
                <h3>Jennifer</h3>
                <ul>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                </ul>
                <p>247liveIT has been supporting our business with their unique and tailored solutions aligned to
                    our business strategies. I must say they have a professional team of experts who are smart,
                    friendly, always available and dedicated towards achieving our business goals. I plan to
                    continue working with them to achieve even more success for my company.
                </p>
            </div>
            <div class="review-item">
                <h3>Alan</h3>
                <ul>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                    <li>
                        <i class='bx bxs-star checked'></i>
                    </li>
                </ul>
                <p>
                    In very little time, my business received multiple sales leads through my website. Thanks to
                    247liveIT team, who've made sure that right strategies are placed at the right place in my
                    website.
                </p>
            </div>
        </div>
    </div>
</section>


<!-- model popup -->
<!-- Button trigger modal -->
<div id="modalOverlay" class="contact-area">
    <div id="modal">
        <span class="modalClose">&times;</span>
        <div class="container">
            <div class="section-title"></div>
            <form id="contactForm" action="/sendServiceEmail">
                <div class="row">
                    <div class="col-md-12">
                        <img src="/images/frmbg.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h6 style="text-align: center;">Call us today to schedule your free review or to learn more about our services:</h6>
                        <h3 class="bgt">877-382-0922</h3>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row trt">
                    <div class="col-sm-12">
                        <h5 style="text-align: center;">Or contact us online and we will quickly respond to you:</h5>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" name="first_name" class="form-control" required data-error="First Name">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" name="last_name" class="form-control" required data-error="Last Name">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" required data-error="Please enter your email">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" name="mobile" required data-error="Please enter your number" class="form-control">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label>Website</label>
                            <input type="text" name="website" class="form-control" required data-error="Please enter your website url">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-12">
                        <button type="submit" class="cmn-btn btn">Get Started</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Modal end -->
