<div class="page-title-area">
   <div class="d-table">
      <div class="d-table-cell">
         <div class="container">
            <div class="title-item">
               <h2>Lead Generation</h2>
               <ul>
                  <li>
                     <a href="index.html">Home</a>
                  </li>
                  <li>
                     <i class='bx bx-chevrons-right'></i>
                  </li>
                  <li>
                     <span>Lead Generation</span>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="choose-area two pt-100 pb-70">
   <div class="choose-shape">
      <img src="/images/img/home-one/choose1.png" alt="Shape">
      <img src="/images/img/home-one/banner-shape3.png" alt="Shape">
   </div>
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-6">
            <div class="choose-content">
               <div class="">
                  <img src="/images/lead.gif" alt="Choose">
               </div>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="choose-contact two">
               <div class="section-title">
                  <h2>Lead Generation</h2>
               </div>
               <p>A lead generation campaign can accomplish a number of objectives. It can motivate customers to buy your product or service, it can be a means to gather contact information about those interested in your company and it can increase traffic to your website so potential customers can learn more about your business.</p>
               <p>Our 247LiveIT technicians use a mix of Google display ads and Google search engine ads in lead generation campaigns. Google display ads are placed on specific websites where your potential customers are likely to visit.</p>
               <p>Google search engine ads appear on Google search results pages. We prepare custom keywords and advertising bid budgets designed so your ads are better positioned and appear higher on Google search results.</p>
               <p>You only pay when a person clicks on your ad (link to pay-per-click page)making these lead generation campaigns budget friendly.</p>
               <p><b>Ad Design</b></p>
               <p>Our digital ad experts create eye-catching, call-to-action lead generation ads that prompt responses and enable you to track and gather information about customer interests. An important part of our services is to enhance websites landing pages (or create custom landing pages) so potential customers are assured a positive experience when visiting after clicking your ad.</p>
               <p>To discuss lead generation strategies for your business, Contact us at <a href="tel:877-382-0922"> 877-382-0922</a> or email <a href="mailto:info@247liveit.com"> info@247liveit.com.</a>.</p>
            </div>
         </div>
      </div>
   </div>
</div>
<section class="boxspc">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="hnav ">
               <a href="#overview">Overview</a>
               <a href="#feature">Features</a>
               <a href="#pricing">Pricing</a>
            </div>
         </div>
      </div>
   </div>
</section>
<section id="overview">
   <div class="choose-area two pt-100 pb-70">
      <div class="choose-shape">
         <img src="/images/img/home-one/choose1.png" alt="Shape">
         <img src="/images/img/home-one/banner-shape3.png" alt="Shape">
      </div>
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-6">
               <div class="choose-content">
                  <div class="">
                     <img src="/images/lesd.jpg" alt="Choose">
                  </div>
               </div>
            </div>
            <div class="col-lg-6">
               <div class="choose-contact two">
                  <div class="section-title">
                     <h2>Your Ads to Your Audience</h2>
                  </div>
                  <p>A lead generation campaign can accomplish a number of objectives. It can motivate customers to buy your product or service, it can be a means to gather contact information about those interested in your company and it can increase traffic to your website so potential customers can learn more about your business.</p>
                  <p>Our 247LiveIT technicians use a mix of Google display ads and Google search engine ads in lead generation campaigns. Google display ads are placed on specific websites where your potential customers are likely to visit.</p>
                  <p>Google search engine ads appear on Google search results pages. We prepare custom keywords and advertising bid budgets designed so your ads are better positioned and appear higher on Google search results.</p>
                  <p>You only pay when a person clicks on your ad (link to pay-per-click page)making these lead generation campaigns budget friendly.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="pt-100 pb-70 bghw">
      <div class="container">
         <div class="row">
            <div class="col-lg-6">
               <div class="choose-contact two">
                  <div class="section-title">
                     <h2>Your Stats Anywhere, Anytime</h2>
                  </div>
                  <p>A lead generation campaign can accomplish a number of objectives. It can motivate customers to buy your product or service, it can be a means to gather contact information about those interested in your company and it can increase traffic to your website so potential customers can learn more about your business.</p>
                  <p>Our 247LiveIT technicians use a mix of Google display ads and Google search engine ads in lead generation campaigns. Google display ads are placed on specific websites where your potential customers are likely to visit.</p>
                  <p>Google search engine ads appear on Google search results pages. We prepare custom keywords and advertising bid budgets designed so your ads are better positioned and appear higher on Google search results.</p>
                  <p>You only pay when a person clicks on your ad (link to pay-per-click page)making these lead generation campaigns budget friendly.</p>
               </div>
            </div>
            <div class="col-lg-6">
               <img src="/images/ppcf.png" alt="Choose">
            </div>
         </div>
      </div>
   </div>
   <div class="pt-100 pb-70">
      <div class="container">
         <div class="row">
            <div class="col-lg-6">
               <img src="/images/ppcf.png" alt="Choose">
            </div>
            <div class="col-lg-6">
               <div class="choose-contact two">
                  <div class="section-title">
                     <h2>Real People, Real Management</h2>
                  </div>
                  <p>A lead generation campaign can accomplish a number of objectives. It can motivate customers to buy your product or service, it can be a means to gather contact information about those interested in your company and it can increase traffic to your website so potential customers can learn more about your business.</p>
                  <p>Our 247LiveIT technicians use a mix of Google display ads and Google search engine ads in lead generation campaigns. Google display ads are placed on specific websites where your potential customers are likely to visit.</p>
                  <p>Google search engine ads appear on Google search results pages. We prepare custom keywords and advertising bid budgets designed so your ads are better positioned and appear higher on Google search results.</p>
                  <p>You only pay when a person clicks on your ad (link to pay-per-click page)making these lead generation campaigns budget friendly.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="choose-area two pt-100 pb-70" id="feature">
   <div class="section-title">
      <h2>And So Much More</h2>
   </div>
   <div class="choose-shape">
      <img src="/images/img/home-one/choose1.png" alt="Shape">
      <img src="/images/img/home-one/banner-shape3.png" alt="Shape">
   </div>
   <div class="container cntpd">
      <div class="row align-items-center">
         <div class="col-sm-6 col-lg-6 pdsec">
            <div class="service-item two">
               <img src="/images/ppcd.png" alt="Service">
               <h3>You Own the Google Ads Account</a>
               </h3>
               <p>Often, small business owners are so busy with day-to-day operations, their website doesn't get the attention it deserves.Often, small business owners are so busy with day-to-day operations, their website doesn't get the attention it deserves.
                  Often, small business owners are so busy with day-to-day operations, their website doesn't get the attention it deserves.Often, small business owners are so busy with day-to-day operations, their website doesn't get the attention it deserves.
               </p>
            </div>
         </div>
         <div class="col-sm-6 col-lg-6 pdsec">
            <div class="service-item two">
               <img src="/images/ppo.png" alt="Service">
               <h3>
                  <a href="#">Small Business Website</a>
               </h3>
               <p>Often, small business owners are so busy with day-to-day operations, their website doesn't get the attention it deserves.Often, small business owners are so busy with day-to-day operations, their website doesn't get the attention it deserves.
                  Often, small business owners are so busy with day-to-day operations, their website doesn't get the attention it deserves.Often, small business owners are so busy with day-to-day operations, their website doesn't get the attention it deserves.
               </p>
            </div>
         </div>
         <div class="col-sm-6 col-lg-6 pdsec">
            <div class="service-item two">
               <img src="/images/ppo.png" alt="Service">
               <h3>
                  <a href="#">Small Business Website</a>
               </h3>
               <p>Often, small business owners are so busy with day-to-day operations, their website doesn't get the attention it deserves.Often, small business owners are so busy with day-to-day operations, their website doesn't get the attention it deserves.
                  Often, small business owners are so busy with day-to-day operations, their website doesn't get the attention it deserves.Often, small business owners are so busy with day-to-day operations, their website doesn't get the attention it deserves.
               </p>
            </div>
         </div>
         <div class="col-sm-6 col-lg-6 pdsec">
            <div class="service-item two">
               <img src="/images/ppcd.png" alt="Service">
               <h3>You Own the Google Ads Account</a>
               </h3>
               <p>Often, small business owners are so busy with day-to-day operations, their website doesn't get the attention it deserves.Often, small business owners are so busy with day-to-day operations, their website doesn't get the attention it deserves.
                  Often, small business owners are so busy with day-to-day operations, their website doesn't get the attention it deserves.Often, small business owners are so busy with day-to-day operations, their website doesn't get the attention it deserves.
               </p>
            </div>
         </div>
      </div>
   </div>
</div>
{{> packages }}
